<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Curso Xcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF0D41002030CB0D00A33EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0D41142030CB0D00A33EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0D411F2030CB0D00A33EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
